*/lectures
password.txt
*.key
*.crt
*.crl
*.csr
*.srl


node_modules/
*.iso

PIS/**/*.exe
*.exe

# production build
build/
dist/

# env variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/